<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.0.0-alpha001" targetFramework="net45" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.4-beta1" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.53.0" targetFramework="net45" developmentDependency="true" />
</packages>