*.csproj.user
*.vbproj.user
[Oo]bj
[Bb]in
*.ncb
*.suo
*.orig
ILMerge.exe
Build*/*
*.diff
*.[Cc]ache
*[Rr][Ee][Ss][Hh][Aa][Rr][Pp][Ee][Rr]*
/Source/packages/*
!/Source/packages/NUnit.Runners.*
!/Source/packages/StyleCop.MSBuild.*
*.[Dd]ot[Ss]ettings.*
TestResult*.xml
Thumbs.db