.nuget
.vs
[Oo]bj
[Bb]in
[Oo]bjcs
[Oo]bjvb
artifacts
packages
src/VersionInfo.cs
src/FakeItEasy.nuspec

*.*proj.user
*.lock.json
*.ncb
*.suo
*.orig
*.diff
*.[Cc]ache
*[Rr][Ee][Ss][Hh][Aa][Rr][Pp][Ee][Rr]*
*.[Dd]ot[Ss]ettings.*
Thumbs.db
*.received.txt
*.nuget.targets
