.vs
[Oo]bj
[Bb]in
artifacts
packages

*.csproj.user
*.vbproj.user
*.xproj.user
*.lock.json
*.ncb
*.suo
*.orig
*.diff
*.[Cc]ache
*[Rr][Ee][Ss][Hh][Aa][Rr][Pp][Ee][Rr]*
*.[Dd]ot[Ss]ettings.*
Thumbs.db
*.received.txt
*.nuget.targets
