mike == 1.1.2
mkdocs == 1.4.2
mkdocs-material == 9.1.3

# Security risk: any file can be included as a snippet with pymdown-extensions < 10
# https://github.com/advisories/GHSA-jh85-wwv9-24hv
# May become unnecessary when mkdocs-material version is bumped.
pymdown-extensions >= 10.0.1
