<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.0.0-alpha001" targetFramework="net35" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net35" />
  <package id="StyleCop.MSBuild" version="4.7.51.0" targetFramework="net35" developmentDependency="true" />
</packages>