<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="FakeItEasy Specs" ToolsVersion="12.0">
  <Include Path="..\fakeiteasy.tests.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1003" Action="None" />
    <Rule Id="CA1009" Action="None" />
  </Rules>
</RuleSet>
