<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net35" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net35" />
  <package id="StyleCop.MSBuild" version="4.7.48.2" targetFramework="net35" developmentDependency="true" />
</packages>