<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="FakeItEasy" ToolsVersion="11.0">
  <Include Path="allrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1305" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1124" Action="Warning" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1628" Action="Warning" />
    <Rule Id="SA1629" Action="Warning" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>