<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="FakeItEasy Examples" ToolsVersion="11.0">
  <Include Path="fakeiteasy.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1804" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
</RuleSet>